<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Panel Admin</a>
        <button class="navbar-toggler" (click)="collapsed = !collapsed" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [ngClass]="{'show': collapsed}" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="user">
                        <i class="fa fa-fw fa-user"></i> User
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="customer">
                        <i class="fa fa-fw fa-users"></i> Customer
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container py-3">
    <router-outlet></router-outlet>
</div>